
  <section class="slick-slideshow">
      <div class="slick-custom">
          <img src="/images/slideshow/medium-shot-business-women-high-five.jpeg" class="img-fluid" alt="">

          <div class="slick-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 col-10">
                          <h1 class="slick-title">Construyendo un Futuro Inclusivo para Todos</h1>

                          <p class="lead text-white mt-lg-3 mb-lg-5">Capacitación, empleo y apoyo para personas en situación de vulnerabilidad.</p>

                          <div>
                            <a href="#" class="btn custom-btn">Encuentra tu Oportunidad</a>
                          </div>
                          <br>
                          <div>
                            <a href="#" class="btn custom-btn">Contrata Talento Inclusivo</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </section>

